Header set Access-Control-Allow-Origin "*"
AddDefaultCharset utf-8
Options -Indexes

php_value max_execution_time 300
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value date.timeZone "America/Mexico_City"

RewriteEngine On
#modificar para servidor
#ErrorDocument 404 http://localhost/TecnicosCasino/

#regla para la pagina de login
RewriteRule ^login$ login.html?a=$1

#regla para la pagina de dashboard
RewriteRule ^$ Dashboard.php?a=$1

#regla para la pagina de MisMaquinas
RewriteRule ^MisMaquinas/$ MisMaquinas/MaquinasAdmin.php?a=$1

#regla para la pagina de MisProveedores
RewriteRule ^Proveedores/$ Proveedores/ProveedoresAdmin.php?a=$1

#regla para la pagina de MisModelos
RewriteRule ^Modelos/$ Modelos/ModelosAdmin.php?a=$1

#regla para la pagina de Perfiles
RewriteRule ^Perfiles/$ Perfiles/PerfilAdmin.php?a=$1

#regla para la pagina de SoporteAyuda
RewriteRule ^SoporteAyuda/$ Ayuda/Ayuda.php?a=$1

#regla para la pagina de reportes
RewriteRule ^ReportarBugs/$ ReportesBugs/ReportesBugsAdmin.php?a=$1

#regla para la pagina de Pendientes
RewriteRule ^Pendientes/$ Pendientes/PendientesAdmin.php?a=$1


#Pagina para los clientes Convocatoria
#RewriteRule ^convocatorias/$ convocatorias/verconvocatoriascomocliente.php?a=$1
#ver documentos de los clientes
#RewriteRule ^lideres/clientesDocs/([^/]*)$ lideres/verDocsCliente.php?a=$1